/* 
Header
*/
    nav li{
        display: inline-block;
        padding: 1rem;
    }
/*  */

/* 
Layout
*/
    header, main, footer{
        max-width: 40rem;
        margin: auto;
    }

    .isDone {
        text-decoration: line-through;
    }
/**/